@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;300;400;500;600;800&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
}

:root {
  --principal: #fffddf;
  --black: #131313;
  --white: #eeeeee;
  --highlight: #fafa6d;
}

html {
  background-color: var(--principal);
  height: 100vh;
}

body {
  height: 100%;
  background-color: var(--principal);
  font-family: Noto Serif Display;
  overflow: hidden;
  width: 100%;
}

header {
  height: 10%;
  color: var(--black);
  padding: 3rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(19, 19, 19, 0.3) 0px -1px 0px 0px inset;
          box-shadow: rgba(19, 19, 19, 0.3) 0px -1px 0px 0px inset;
}

#logo {
  font-size: 2rem;
}

main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -3.5%;
}

.timer {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#js-mode-buttons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
  padding: .8rem 2.5rem;
  border-radius: 1.625rem;
  background: var(--black);
  color: var(--principal);
  font-family: Noto Serif Display;
  font-weight: 600;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 2px solid var(--black);
}

button:hover {
  background: var(--principal);
  color: var(--black);
}

.clock {
  font-size: 10rem;
  padding: 4rem 0;
}

@media (max-width: 1100px) {
  #js-mode-buttons {
    width: 75%;
  }
  .clock {
    font-size: 7rem;
  }
}

@media (max-width: 770px) {
  #js-mode-buttons {
    width: 90%;
  }
  .clock {
    font-size: 12rem;
  }
}

@media (max-width: 600px) {
  main {
    margin-top: -7%;
  }
  #js-mode-buttons {
    width: 95%;
  }
  .clock {
    font-size: 7rem;
  }
  button {
    font-size: .75rem;
    border-radius: 1.4rem;
    padding: .5rem 1.5rem;
  }
}

@media (max-width: 450px) {
  main {
    margin-top: -7%;
  }
  #js-mode-buttons {
    width: 100%;
  }
  .clock {
    font-size: 5.5rem;
  }
  button {
    font-size: .65rem;
    border-radius: 1.2rem;
    padding: .5rem 1rem;
  }
}

@media (max-width: 380px) {
  main {
    margin-top: -7%;
  }
  #js-mode-buttons {
    width: 100%;
  }
  .clock {
    font-size: 5.5rem;
  }
  button {
    font-size: .6rem;
    border-radius: 1.2rem;
    padding: .5rem 1rem;
  }
}
/*# sourceMappingURL=timer.css.map */